.sidebar {
    width: 20%;
}

.wrapper__main {
    width: 100%;
}

.article h1, .article h2, .article h3, .article h4 {
    font-size: revert;
    font-weight: revert;
}

figcaption {
    font-style: italic;
    font-size: 0.85em;
    text-align: center;
}